# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build

# Virtual environments
venv
env
ENV

# IDE
.idea
.vscode
*.swp

# OS
.DS_Store
Thumbs.db

# Backend
.env
*.db
chat.db

# Node
node_modules
